/*@media only screen and (max-width: 500px) {
	.name { 
		font-size: 3em;
	    }
	.dropdown {
		font-size: 1em;
	}
	.dropdown-content {
		display: block;
	}
	.contact-dropdown {
		display:none;
	}
	.contact-dropdown-content {
		display: inline-block;
	}
}*/