/*colors
	red skull- #990000
	red skull & swords- #FF0000
	white om- #FFFFFF
	lotus- (black to white progressivly through grey shades light to dark)
	black- #0D0D0D
	4- #3F3F3F
	3- #4E4E4E
	2- #BEBEBE
	1- #F4F4F4
*/
html {
	/*no image showing..figure it out next had to link to css file*/
	/*need to cover the whole page with this star background*/
	font-family: 'Dancing Script', cursive;
	background-image: url("../images/hidden-beach.jpg");
	background-size: cover;
	background-position: absolute;
	background-repeat: no-repeat;
}
body {
	color: #FFFFFF;
	text-shadow: 0em 0em 1em #662949 ;
}
.name, .title, .quote{
	text-align:center;
}
.name {
	font-size: 15em;
}
.title {
	padding-top: 0;
}
.quote {
	postion:absolute;
	bottom: 5px;

/*slide out menu*/
@import 'bourbon';

.page-content{
	position: relative;
	z-index:0;
}
.sidebar {
	position:(fixed, 0px 0 0px 0px);
	width: 120px;
	padding: 30px;
	background:#333;
	z-index:0;
	left: 0px;
	bottom: 0px;
}
li {
	color: rgba(255,255,255,0.8);
	font-family:  'Dancing Script', cursive;;
	font-size: 16px;
	margin-bottom: 16px;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
}
&hover {
	color:rgba(255,255,255,255,1);
}
