ASJ colors:
purples (dark to light)- 
#662949
#84E62
#834262
aqua blue (dark to light)-
#57A3BD
#5EBSC4
JMP colors:
red-
#8A0707
black-
#000000
*/
html {
	font-family: 'Dancing Script', cursive;
	background-image: url("../images/hidden-beach.jpg");
	background-size: cover;
	background-position: absolute;
	background-repeat: no-repeat;
}
body {
	color: #FFF;
	text-shadow: 0em 0em 1em #8A0707 ;
}
.name, .title, .quote{
	mar: center;
	text-align:center;
}
.name {
	font-size: 5em;
	padding-top:15%;
}
.title {
	padding-top: 0;
	font-size:2em;
}
.quote {
	postion:absolute;
	bottom: 2em;
	font-size:2em;

}
* {
 margin: 0;
 padding: 0;
list-style: none;
}
html,
body {
 font-family: 'Dancing Script', cursive;
 position: relative;
 width: 100%;
 height: 100%;
 padding: 0;
 margin: 0;
 overflow-x: hidden;
 background: #000;
}
p {
 margin: 0 0 1em 0; 
 padding: 1em;
 font-family: 'Dancing Script', cursive;
}
a {
 text-decoration: none;
 color:#57A3BD; 
 font-size: 2em;
}
.menu > li > a:hover {
	color: white;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #834262;
  z-index: 0;
  /*distance menu slides*/
  width: 15%;
  height: 100%;
 } 
 ul {
   list-style: none; 
    margin: 0;
    padding: 0;
    font-family: 'Satisfy', cursive;
 }
 #body {
 	position:relative;
 }
#content {
   background-image: url("../images/hidden-beach.jpg");
   position: absolute;
   background-size: cover;
   background-position: center; 
   background-repeat:no-repeat;
   top: 50%;
   left: 0; 
   vertical-align:center;
   transform:translateY(-50%);
   width: 100%;
   height: 100%;
   -webkit-transition: all 0.1s ease-in-out;
   box-shadow: rgba(0,0,0,0.5) -5px 0 20px;
}
.top-bar {
  position: relative;
  background-color:green;
  } 
  .top-bar > label {
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    /*distance from the top*/
    top: 10%;
    margin-top: -17px;
    /*distance from the left*/
    left: 25px;
    color:#fff;
    /*background color*/
    font-size: 2em;
    text-align: center;
/*  red circle
    background-color:#000000;*/
    border-radius: 50px;
    cursor: pointer;
  }  
 .top-bar >label:active {

  }
#menu-toggle:checked ~ #content {
	/*distance background slides*/
  left: 15%;
/*  // -webkit-transition: all 0.1s ease-in-out;
  // opacity: 0.8;
*/
}
/***********UNORDERED LIST***************/

nav ul {
   position: absolute;
   
  li {
      font-family: 'Dancing Script', cursive; 
      font-weight: bold;
   height: 50px;
   background: green;
   display: block;
   position: relative;
   z-index: 100;
   margin: 5px 0;
  }
}
 #menu-toggle:checked ~ nav ul li {
   display:block;
}
nav ul li:hover {
   cursor: pointer;
   /*change color on hover??*/
   text-transition:#5EBSC4;
  }
 #toggle {
 	cursor:pointer;
 	font-size:3em;
 	margin: .5em .5em; 
 }